@charset "UTF-8";

/* Todas as demais medias */

/* impressão*/
@media print {
    body {
        background-image: url(../back-print.jpg);
       
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    main {
        border: 2px solid black;
        width: 80vw;
    }
    main::after {
        content: 'Essa impressão foi feita atraves do site ww.cursoemvideo.com';
        text-decoration: overline;
    
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none;}
    img#tv { display: none;}
    
}

/* tablets e pcs*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
    body {
        background-image: url(../back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none;}
    img#tv { display: none;}
}
/* descktop */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-image: url(../back-pc.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block;}
    img#tv { display: none;}
}

/* tvs */
@media screen and (min-width: 1281px) and (max-width: 1920px) { 
    body {
        background-image: url(../back-tv.jpg);
    }
    
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none;}
    img#tv { display: block;}
}